<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.login.service.impl.LoginMapper">

	<select id="selectLogin"
			parameterType="kr.or.nextit.login.service.LoginVo"
			resultType="kr.or.nextit.login.service.LoginVo">
		  SELECT
			    mem_id,
			    mem_pw,
			    mem_name,
			    mem_email,
			    mem_phone,
			    reg_date
			FROM
			    tbb_member
		    where mem_id = #{memId}
		    	and mem_pw = #{memPw}
			    
    </select>
		  
</mapper>

